@import './animation.scss';

#typing {
	display: none;
	margin: 10px 10px;

  .bubble {
    background: #eaeaea;
    padding: 8px 13px 9px 13px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
        
    .ellipsis {
      width: 5px;
      height: 5px;
      display: inline-block;
      background: #79c7c5;
      border-radius: 50%;
      animation: bounce 1.3s linear infinite;
    }

    .one {
      animation-delay: 0.6s;
    }

    .two {
      animation-delay: 0.5s;
    }

    .three {
      animation-delay: 0.8s;
    }
  }
}

#audioPreview{
  wave{
   & > wave{
    border:unset !important;
    padding-left:11px;

    &::before{
      z-index: 9;
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: #449388;
      border: 1px solid #dce2e5;
    }
   }
  }

}